<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Carlos Magno Nascimento" />
    <meta name="description" content="Buteco Styled Chat" />
    <title>Buteco</title>
    <link rel="stylesheet" href="static/css/main.css" />
    <link
      rel="shortcut icon"
      href="static/img/icon-512x512.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>BUTECO</h1>
    <section id="chat">
      <div id="message-box"></div>
      <div id="input-box">
        <input type="text" autofocus id="input-message" />
        <button id="send-button">>></button>
      </div>
    </section>
    <br />
    <section id="nickname-box">
      <label for="input-nickname">Nickname</label><br />
      <input type="text" id="input-nickname" value="bêbado" />
    </section>

    <script src="static/js/socket.io.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
